.sizeMedium-df47zS {
    background-color: #36393F;
    border-radius: 10px;
}

.powercord-category {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.formTitle-LdsDK {
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.powercord-settings-item-inner {
    margin-top: 0;
}

.powercord-text {
    font-size: 18px;
}

.user-slDf {
    display: flex;
    align-items: center;
    margin: 10px;
}

.userPfp {
    border-radius: 50%;
    background-size: 30px;
    width: 30px;
    height: 30px;
    min-height: 30px;
    min-width: 30px;
    margin-right: 7px;
}

.username-jdkd {
    font-weight: 600;
    color: rgb(255, 255, 255);
}