.guild-relationships-modal .powercord-settings-item-inner {
  margin-top: 16px;
  padding-left: 28px !important;
}

.guild-relationships-modal .grs-user {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
}

.guild-relationships-modal .grs-user img {
  border-radius: 50%;
  background-size: 30px;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin-right: 8px;
}
